@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

  --component-background:#202123;
  --component-background-hover:#343537;
  --background:#17181A;

  --font-color:#78797B;

  --primary:#02B075;
  --secondary:#6F7172;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background:var(--background);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title{
  color:var(--font-color);
  margin-bottom:10px;
}
