.dropdownItem {
  &:hover {
    background-color: var(--component-background-hover);
  }
}

.dropdownBackground {
  background-color: var(--background);
  border-color: var(--component-background-hover);
}

.dropdownSeperator {
  background-color: var(--component-background-hover);
}
