.friendList
{
    width:100%;
    min-height:100vh;
    height: 100%;
    background:var(--component-background);
    padding:20px;
}


.userProfile{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    font-size: 14px;
    margin-bottom:30px;
}

.circle{
    min-width: 25px;
    min-height: 25px;;
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 100px;
}

.icon{
    transition:0.3s;

    &:hover{
        cursor: pointer;
        color:white; 
    }
}


.friendProfile{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    font-size: 14px;
    margin-bottom:20px;
}

.friendCircle{
    min-width: 30px;
    min-height:30px;
    width:35px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 100px;
}