.player {
  width: 100%;
  background-color: var(--component-background);
  border-radius: 15px;
  padding: 20px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: var(--component-background);
  border-radius: 15px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

.wins {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  color: var(--primary);
  border-radius: 15px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: var(--component-background);
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
}
